.bsp/
.git/

.dockerignore
.gitignore
.env*
!.env.example
docker-compose.override.yml
docker-compose.yml
Dockerfile
.DS_Store

**/target
project/project

logs/
tmp
.history
build
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
target


.vscode
serviceOwner.json.example
contracts.json
collection.json
metadata.json
metadata_working.json
metadata_complex.json
/avlData
